body {
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}
/*Navigation Bar*/
.link img{
	width: 25px;
}

.log{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
	text-decoration: none;
	text-align: center;
}

.navg {
	width:80%;
	padding: 40px;
}

.navg ul li {
	float: left;
	list-style-type: none;
	margin-right: 4%;
	margin-left: 2%;
	font-size: 20px;
}

.navg ul li a {
	text-decoration: none;
	color: black;
	display: block;
	font-weight: bold;
}

.navg ul li a:hover {
	color: #F60;
}

.navi{
	display: -webkit-box;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: black;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.logo{
	padding: 10px;
}

header {
	clear: both;
	width: 98%;
	text-align: right;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
	padding: 3px;
}

input{
	border:1px solid black;
	border-radius:40px;
	width:250px;
	height:21px;
	margin-left:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style:italic;
	outline:none;
	padding:3px;
}

button{
	/*display:inline-block;*/
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	width:75px;
	height: 30px;
	background-color:white;
	border:none;
	border:3px solid black;
	border-radius:40px;
	position: relative;
	font-size:16px;
	font-weight: bold;
	margin: 0px;
	outline:none;
}

.rate{
  font-size: 20px;
  list-style-type: none;
}
.rate a{
  text-decoration: none;
  color:#f4bb11;
}
.search{
	width: 90%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}


.sub{
	text-decoration: none;
}

.details{
	margin-left: 10%;
	}

.submit{
	text-align: center;
}

footer {
	clear: both;
	width: 98%;
	text-align: center;
	color: white;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
	padding: 3px;
}
