body {
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}
/*Navigation Bar*/
.link img{
	width: 25px;
}

.log{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
	text-decoration: none;
	text-align: center;
}

.navg {
	width:80%;
	padding: 40px;
}

.navg ul li {
	float: left;
	list-style-type: none;
	margin-right: 4%;
	margin-left: 2%;
	font-size: 20px;
}

.navg ul li a {
	text-decoration: none;
	color: black;
	display: block;
	font-weight: bold;
}

.navg ul li a:hover {
	color: #F60;
}

.navi{
	display: -webkit-box;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: black;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.logo{
	padding: 10px;
}

header {
	clear: both;
	width: 98%;
	text-align: right;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
	padding: 3px;
}

input{
	border:1px solid black;
	border-radius:40px;
	width:250px;
	height:21px;
	margin-left:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style:italic;
	outline:none;
	padding:3px;
}

button{
	/*display:inline-block;*/
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	width:75px;
	height: 30px;
	background-color:white;
	border:none;
	border:3px solid black;
	border-radius:40px;
	position: relative;
	font-size:16px;
	font-weight: bold;
	margin: 0px;
	outline:none;
}

.PA {
	display: -webkit-box;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.pa,.info{
	padding:20px;
}
h1{
	margin-left: 11%;
}
.rating {
	display: -webkit-box;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.overall,.result{
	padding:10px;
	margin-right:10%;

}
.service{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding:5px;
}
.detail p{
	padding:10px;
	font-size:15px;
	font-weight: bold;
}

.line{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.main{
	display: -webkit-box;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding:5px;
}
h3{
	text-align:center;
    border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
	width: 26%;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}
.com{
	text-align: center;
	padding: 10px;
}
.com h3{
	text-align: left;
}
.submit{
	width: 10%;
	height: 5%;
	font-size:20px;
	color: white;
	background: black;
	border-color: black;
	margin-top: 3%;
}
.submit:hover {
	background-color: #F60;
	border-color: #F60;
	color:black;
}
.text{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}




.form1{
	width: 754px;
	height: 42px;
	margin-left:340px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 16em;
	padding-top: 8em;
}





.navbar{
	display: -webkit-box;
	margin-left:58%;
	padding:3px;

}

.top_rated{
	margin: auto;
	width: 70%;
	max-width: 1920px;
	font-weight: bold;
	margin-bottom: 40px;
}


.top_title{
	text-decoration: none;
}

.top_rated_hosp{
margin:auto;
margin-top: 10px;
border:2px solid #808080;
border-radius: 2px;
padding: 12px;
text-align: center;
}


.top_rated_hosp img{
	height: auto;
}

.go_left{
	display: inline-block;
	margin-left:10%;
	margin:15px;
}

.top_rated_hosp p{
	color:black;
}


.topimg{
	margin: auto;
    width: 90%;
    padding-left: 11em;
    padding-bottom: 2em;
    padding-top: 1em;
}

.timg{
	margin: auto;
    width: 79%;
    padding: 10px;
    padding-left: 30px;
}

.searchRe img{
	width: 75%;
	margin: auto;
	padding-left: 15em;
    padding-bottom: 10em;
    padding-top: 1em;
}

.list {
	float: left;
	margin-left: 15%;
	width: 70%;
	margin-bottom: 50px;
}



footer {
	clear: both;
	width: 98%;
	text-align: center;
	color: white;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
	padding: 3px;
}
